{% extends "base.html" %}
{% block title %}Chi siamo?{% endblock %}
{% block form %}
<div class="about-content">
	<div class="blue-line"></div>
	<h1>Chi Siamo?</h1>
	<h4 style="color: grey; margin: 10px 0 10px 0;">Il servizio di URL Shirting migliore in Italia</h4>
	<p>Doggo ipsum long doggo maximum borkdrive doggorino tungg thicc vvv, pupperino many pats boofers woofer boof, blop wow very biscit very taste wow porgo. Heckin angery woofer smol what a nice floof wrinkler very jealous pupper, tungg doggorino ruff waggy wags most angery pupper I have ever seen, he made many woofs porgo wow such tempt. Stop it fren long doggo snoot pats woofer borkdrive, very hand that feed shibe h*ck puggo bork, you are doin me a concern heckin angery woofer pats puggo.

Adorable doggo heckin mlem puggorino, doge. Big ol wrinkler you are doin me a concern heck vvv, fluffer borkf heckin. Big ol pupper heck fluffer long woofer shooberino, most angery pupper I have ever seen bork fluffer borkf, big ol fat boi borkf. Long bois boofers I am bekom fat heckin the neighborhood pupper sub woofer, h*ck woofer borkdrive.

Very good spot most angery pupper I have ever seen vvv heckin angery woofer doggorino wow very biscit, fluffer big ol long woofer waggy wags. Long doggo adorable doggo the neighborhood pupper length boy such treat, shoob adorable doggo such treat. Thicc fat boi sub woofer ur givin me a spook puggo, big ol super chub very hand that feed shibe doggorino woofer, fluffer shoober waggy wags.</p>
	<a href="/">Torna alla home</a>
</div>
<style>
	.image {height: 600px;}
</style>
{% endblock %}
{% block image %}
<div class="wave-container">

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#0099ff" fill-opacity="1" d="M0,192L40,197.3C80,203,160,213,240,186.7C320,160,400,96,480,69.3C560,43,640,53,720,74.7C800,96,880,128,960,160C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
</svg>
<div class="wave"></div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,256L60,229.3C120,203,240,149,360,154.7C480,160,600,224,720,250.7C840,277,960,267,1080,250.7C1200,235,1320,213,1380,202.7L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
</div>
{% endblock %}