{% extends "base.html" %}
{% block title %}Admin panel{% endblock %}
{% block image %}{% endblock %}
{% block form %}
<h1>Pagina di controllo degli admin</h1>
<form action="/dev" method="POST" class="login">
	<label for="psw">Inserisci il codice di verifica</label><br>
	<input type="password" name="psw" class="admin-button"><br>
	<input type="submit" value="Manda" class="admin-button"><br>
</form>
<style>
	.image {
		margin-top: 20% !important;
	}
</style>
<a href="/"><input type="submit" value="Torna alla home" class="admin-button"></a><br>
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
	{% if message == "Tasto attivato"%}
	<style>
		.login{
			display: none;
		}
	</style>
	<div class="admin-comands">
		<h2>I comandi dell'admin</h2>
		<form action="/dev" method="POST">
			<input type="submit" value="Attiva Lavori in Corso" name="activ" class="admin-button"><br>
			<input type="submit" value="Disattiva Lavori in Corso" name="deactiv" class="admin-button"><br>
			<input type="submit" value="Logout" name="Logout" class="admin-button">
		</form>
		<div class="cards">
			
				<div class="card1 small-img mb-card">
					<form action="/db" method="POST">
						<input type="text" name="title1" value="{{ card1.title }}" required>
						<textarea name="text1" cols="30" rows="10" required>{{ card1.text }}</textarea>
						<img src="{{ card1.image_link }}" alt="immagine1">
						<input type="text" name="image_link1" value="{{ card1.image_link }}" required>
						<input type="submit" name="submit" value="Modifica" class="button">
					</form>
				</div>
				<div class="card2 small-img mb-card">
					<form action="/db" method="POST">
						<input type="text" name="title2" value="{{ card2.title }}" required>
						<textarea name="text2" cols="30" rows="10" required>{{ card2.text }}</textarea>
						<img src="{{ card2.image_link }}" alt="immagine2">
						<input type="text" name="image_link2" value="{{ card2.image_link }}" required>
						<input type="submit" name="submit" value="Modifica" class="button">
					</form>
				</div>
				<div class="card3 small-img mb-card">
					<form action="/db" method="POST">
						<input type="text" name="title3" value="{{ card3.title }}" required>
						<textarea name="text3" cols="30" rows="10" required>{{ card3.text }}</textarea>
						<img src="{{ card3.image_link }}" alt="immagine3">
						<input type="text" name="image_link3" value="{{ card3.image_link }}" required>
						<input type="submit" name="submit" value="Modifica" class="button">
					</form>
				</div>
			
		</div>
		<div class="upload-img">
			<h3>Per mettere un immagine nuova caricala sul server:</h3>
			<h5 style="color: grey;">Dopodiché ti basterá scrivere /static/images/nome_del_file per usarla</h5>
			<form action="/db" method="POST" enctype = "multipart/form-data">
				<input type="file" name="file"><br>
				<input type="submit" value="Carica l'immagine" class="button">
			</form>
		</div>
		<div class="create-flash">
			<h3>Scrivi un messaggio e questo apparirá nel sito</h3>
			<h5 style="color: grey;">Per rimuoverlo scrivi qualunque cosa nei box e seleziona rimuovi sotto</h5>
			<form action="/db" method="POST">
				<label for="flash_text">Titolo del messaggio</label>
				<input type="text" required name="flash_title"><br>
				<label for="flash_text">Testo del messaggio</label>
				<input type="text" required name="flash_text"><br>
				<div>
					<label for="danger">Messaggio di pericolo</label>
					<input type="radio" name="option" value="danger" required><br>
				</div>
				<div>
					<label for="okay">Messaggio normale</label>
					<input type="radio" name="option" value="ok"><br>
				</div>
				<div>
					<label for="new">Messaggio per una novitá</label>
					<input type="radio" name="option" value="new"><br>
				</div>
				<div>
					<label for="new">Rimuovi il messaggio</label>
					<input type="radio" name="option" value="rimuovi"><br>
				</div>
				
				<input type="submit" value="Manda" class="button">
			</form>
		</div>
		<style>
			.small-img img{width: 30%;}
			/*.small-img input[type="text"]{padding: 20px 10px; line-height: 28px;}*/
			.cards {
				width: 100%;
				display: flex;
				margin-top: 30px;
				align-items: center;
				justify-content: space-around;
			}

			textarea {
				resize: none;
				width: 100%;
			}

			.upload-img{
				margin-top: 30px;
			}

			.create-flash{
				margin-top: 20px;
			}
		</style>
	</div>
	{% else %}
	<h3 style="margin-left: 10%; color: red;">{{ message }}</h3>
	{% endif %}
{% endfor %}
{% endblock %}